<header class="home-banner">
	<h1 class="title big">The Bible in a box</h1>
</header>

<div>
	<section id="intro-quote" class="feature grey">
		<div class="grid fixed">
			<div class="text-wrap">
				<h4 style="margin-bottom: 12px; letter-spacing: -0.2px">
					<!-- Biblios delivers an overview of the Bible for all styles of
					learners.<br />The 12 fast-paced sessions include games,
					activities and short videos ensuring the course is fun,
					engaging, memorable and accessible for&nbsp;everyone. -->
					Biblios delivers an overview of the Bible course for all
					styles of learners. The 12 fast-pace sessions include games,
					activities and short videos. This Bible curriculum is a
					Biblios adventure: fun, engaging, memorable and accessible
					for everyone.
				</h4>
				<!-- <a data-target="#exp-video"
					>Learn how the bible fits together</a
				> -->
			</div>
			<div class="img-wrap">
				<img src="{{ 'intro-image.png' | asset_url }}" />
			</div>
		</div>
	</section>

	<style>
		#whats-in-box .media-wrap.shrink img {
			height: 130px;
		}
	</style>

	<section id="whats-in-box">
		<div class="grid text-block center">
			<h3>What's in the Biblios box?</h3>
			<h4>
				Open up the world of the Bible through exploring the people,
				places and times of the Bible.
			</h4>
		</div>
		<div class="grid cards min-3 v-shape" style="column-gap: 30px">
			<div class="card plain center minify">
				<div class="media-wrap shrink">
					<img src="{{ 'map.png' | asset_url }}" />
				</div>
				<h5>Map</h5>
				<p>
					The Biblios box includes map pieces which participants piece
					together to make different maps for each session!
				</p>
			</div>
			<div class="card plain center minify">
				<div class="media-wrap shrink">
					<img src="{{ 'leaflet.png' | asset_url }}" />
				</div>
				<h5>Handbook</h5>
				<p>
					The Biblios box includes a comprehensive handbook meaning
					anyone can host any session for their community without any
					prior knowledge of the Bible!
				</p>
			</div>
			<div class="card plain center minify">
				<div class="media-wrap shrink">
					<img src="{{ 'cards.png' | asset_url }}" />
				</div>
				<h5>Cards</h5>
				<p>
					The Biblios box includes over 200 cards enabling
					participants to learn about all the books, the key
					characters and events in the Bible through games and
					activities!
				</p>
			</div>
		</div>
	</section>
	<!--  -->
	<section id="disect">
		<div class="grid cards max-2">
			<div class="card plain center-content">
				<img
					src="{{ 'explosion.svg' | asset_url }}"
					style="width: 100%"
				/>
			</div>
			<div class="card plain minify center-content">
				<h3 style="margin-bottom: 12px">What's included in Biblios?</h3>
				<ul style="margin-bottom: 12px">
					<li>
						<p>
							100 x 1 cm wooden blocks to build temples, mark
							empire boundaries, represent house churches
						</p>
					</li>
					<li>
						<p>
							12 wooden card holders to move cards around the maps
						</p>
					</li>
					<li>
						<p>
							8 double-sided A4 card map pieces to form four
							different maps: Old Testament Israel, Old Testament
							Middle East, New Testament Israel, New Testament
							Mediterranean
						</p>
					</li>
					<li>
						<p>
							floorplans of Moses’ tabernacle and temples to build
							using the wooden blocks
						</p>
					</li>
					<li>
						<p>
							Daniel’s statue to show the order of the dominant
							empires
						</p>
					</li>
					<li>
						<p>
							covenant documents to learn about how God relates to
							humanity
						</p>
					</li>
					<li>
						<p>
							over 200 cards to learn about Bible books, Bible
							characters, key event cards, dominant empires
						</p>
					</li>
					<li>
						<p>
							larger reference cards to learn about the Bible
							library and Jesus’ family tree
						</p>
					</li>
					<li>
						<p>
							handbook to provide everything a community needs to
							know to host the course
						</p>
					</li>
				</ul>
				<p>
					<!-- <a data-target="#learn-more"
						>Learn more about the Biblios kit</a
					> -->
				</p>
				<div style="margin-top: 40px" class="ex-xs">
					<div class="button small purchase-button">
						<span>Buy&nbsp;Biblios&nbsp;kit</span>
						<img src="{{ 'arrow-orange.svg' | asset_url }}" />
					</div>
				</div>
			</div>
			<div class="card plain">
				<div class="ex-sm ex-md ex-lg ex-xl">
					<div class="button small purchase-button">
						<span>Buy&nbsp;Biblios&nbsp;kit</span>
						<img src="{{ 'arrow-orange.svg' | asset_url }}" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="grey small-xs" id="exp-video">
		<div class="grid cards">
			<div class="card plain span-all">
				<div class="media-wrap">
					<!-- trigger update -->
					<iframe
						data-autoresize
						src="https://player.vimeo.com/video/428186999?title=0&byline=0&portrait=0"
						frameborder="0"
						allow="autoplay; fullscreen"
						allowfullscreen
					></iframe>
				</div>
			</div>
		</div>
	</section>
	<section id="standalone-quote" class="feature small-xs">
		<div class="grid fixed">
			<div class="text-wrap">
				<h4 style="font-style: italic">
					Since a dream over 10 years ago, we have travelled from
					pieces of paper to packs of cards; from material to
					satellite imagery maps; from our kitchen table to Jerusalem.
					Biblios is literally a dream come true!
				</h4>
			</div>
			<div class="img-wrap">
				<img src="{{ 'feature-rebekah.png' | asset_url }}" />
			</div>
		</div>
	</section>
	<section class="small" id="learn-more">
		<div class="grid text-block">
			<div class="card plain center span-all">
				<h3>Learn more...</h3>
			</div>
		</div>
		<div class="grid cards min-3 v-shape" id="learn-more-cards">
			<div class="card elevated" data-expand-to="#sessions-expanded">
				<div class="media-wrap">
					<img src="{{ 'sessions.jpg' | asset_url }}" />
				</div>
				<h5>Sessions</h5>
				<h6 class="ex-xs ex-sm ex-md">
					Biblios organises the library of Scripture (the Bible) into
					well recognised groups...
				</h6>
				<h6 class="ellipsis ex-lg ex-xl">
					Biblios organises the library of Scripture (the Bible) into
					well recognised groups of books, covering these groups in 12
					sessions. Each session begins and ends with general games to
					learn about the Bible books and the key people. Each session
					also includes 3 short videos, readings, map, timeline and
					other session-specific activities and games.
				</h6>
				<h6
					data-toggle-ellipsis
					data-toggle-ellipsis-text-change="false"
				>
					<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</h6>
			</div>
			<div class="card elevated" data-expand-to="#videos-expanded">
				<div class="media-wrap">
					<img src="{{ 'videos.png' | asset_url }}" />
				</div>
				<h5>Videos</h5>
				<h6 class="ex-xs ex-sm ex-md">
					Each session includes three short videos, filmed in various
					locations in Israel and Rome...
				</h6>
				<h6 class="ellipsis ex-lg ex-xl">
					Each session includes three short videos, filmed in various
					locations in Israel and Rome. These videos set the scene for
					the books and help explain some key themes.
				</h6>
				<h6
					data-toggle-ellipsis
					data-toggle-ellipsis-text-change="false"
				>
					<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</h6>
			</div>
			<div class="card elevated" data-expand-to="#howtohost-expanded">
				<div class="media-wrap">
					<img src="{{ 'howtohost.jpg' | asset_url }}" />
				</div>
				<h5>How to host</h5>
				<h6 class="ex-xs ex-sm ex-md">
					Anyone who is enthusiastic can host Biblios. Hosting Biblios
					requires no prior knowledge of the Bible...
				</h6>
				<h6 class="ellipsis ex-lg ex-xl">
					Anyone who is enthusiastic can host Biblios. Hosting Biblios
					requires no prior knowledge of the Bible. The culture of
					Biblios is that we are all learners and we are all
					contributors. The comprehensive handbook includes an easy to
					read breakdown of each of the 12 sessions, with accompanying
					notes for the host. The handbook also includes descriptions
					of all the games and activities, and extra reference
					material.
				</h6>
				<h6
					data-toggle-ellipsis
					data-toggle-ellipsis-text-change="false"
				>
					<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</h6>
			</div>
		</div>

		<div
			class="grid expanded-card card minify"
			data-expand-from="#learn-more-cards"
			id="sessions-expanded"
			style="display: none"
		>
			<button class="exit-wrapper">
				<img src="{{ 'exit.svg' | asset_url }}" class="exit" />
			</button>
			<div
				class="image"
				style="background-image: url({{ 'sessions.jpg' | asset_url }})"
			></div>
			<div class="text-wrap">
				<h5>Sessions</h5>
				<h6>
					Biblios organises the library of Scripture (the Bible) into
					well recognised groups of books, covering these groups in 12
					sessions.
				</h6>
				<p>
					Each session begins and ends with general games to learn
					about the Bible books and the key people. Each session also
					includes 3 short videos, readings, map, timeline and other
					session-specific activities and games.
				</p>
				<p>Biblios is Bible study in a box.</p>
			</div>
		</div>

		<div
			class="grid expanded-card card minify"
			data-expand-from="#learn-more-cards"
			id="videos-expanded"
			style="display: none"
		>
			<button class="exit-wrapper">
				<img src="{{ 'exit.svg' | asset_url }}" class="exit" />
			</button>
			<div
				class="image"
				style="background-image: url({{ 'videos.png' | asset_url }})"
			></div>
			<div class="text-wrap">
				<h5>Videos</h5>
				<h6>
					Each session includes three short videos, filmed in various
					locations in Israel and Rome.
				</h6>
				<p>
					These videos set the scene for the books and help explain
					some key themes.
				</p>
				<p>These 36 videos set the scene for your Biblios adventure.</p>
			</div>
		</div>

		<div
			class="grid expanded-card card minify"
			data-expand-from="#learn-more-cards"
			id="howtohost-expanded"
			style="display: none"
		>
			<button class="exit-wrapper">
				<img src="{{ 'exit.svg' | asset_url }}" class="exit" />
			</button>
			<div
				class="image"
				style="background-image: url({{ 'howtohost.jpg' | asset_url }})"
			></div>
			<div class="text-wrap">
				<h5>How to host</h5>
				<h6>
					Anyone who is enthusiastic can host Biblios. Hosting Biblios
					requires no prior knowledge of the Bible. The culture of
					Biblios is that we are all learners and we are all
					contributors.
				</h6>
				<p>
					The comprehensive handbook includes an easy to read
					breakdown of each of the 12 sessions, with accompanying
					notes for the host. The handbook also includes descriptions
					of all the games and activities, and extra reference
					material.
				</p>
				<p>Biblios is Bible school in a box.</p>
			</div>
		</div>
	</section>

	<section class="no-padding">
		<div class="owl-carousel">
			<div class="endorsement">
				<img src="{{ 'sam.png' | asset_url }}" />
				<p>
					For me, the Bible was a bit like a piece of flat pack
					furniture … lots of beautiful bits but all in a heap, and
					some parts that I had no idea what they were for! Biblios
					helped me to assemble all the pieces. So what I have now is
					not only beautiful but extremely practical.
				</p>
				<h5>Sam</h5>
			</div>
			<div class="endorsement">
				<img src="{{ 'rahana.png' | asset_url }}" />
				<p>
					I am a single parent and am also dyslexic. I’ve ‘fumbled’ my
					way through the Bible. Since doing the Biblios, I have found
					a new and amazing road map to life. The Bible. The Biblios
					course is interactive, fun, full of wisdom and a solid
					foundation.
				</p>
				<h5>Rahana</h5>
			</div>
			<div class="endorsement">
				<img src="{{ 'sue.png' | asset_url }}" />
				<p>
					Biblios is a highly enjoyable way for small groups to
					explore the library of books that we have come to call the
					Bible.
				</p>
				<h5>Sue</h5>
			</div>
			<div class="endorsement">
				<img src="{{ 'nathaniel.png' | asset_url }}" />
				<p>
					With Biblios I have had a chance to play games, learn from
					watching videos, show my acting skills and do different
					activities… I didn’t know studying the Bible could be so
					much fun! Biblios is the future.
				</p>
				<h5>Nathaniel</h5>
			</div>
			<div class="endorsement">
				<img src="{{ 'kath.png' | asset_url }}" />
				<p>
					Biblios really brought the Bible to life for me. It was fun
					and engaging way of learning about how it all fits together.
					It de-mystified the Old Testament for me... I feel much more
					confident reading the Bible.
				</p>
				<h5>Kath</h5>
			</div>
		</div>
	</section>

	<script>
		function init() {
			$(".owl-carousel").owlCarousel({
				center: true,
				loop: true,
				autoWidth: true,
				items: 4,
				autoplay: true,
			});
		}
	</script>

	<section id="outro">
		<div class="grid cards max-2 split">
			<div class="card plain">
				<img src="{{ 'outro.jpg' | asset_url }}" />
			</div>
			<div class="card plain minify">
				<h3>Equipping every community in the Bible</h3>
				<h4 style="margin-bottom: 15px">
					The invitation is intimacy with God. If we all grasped this,
					the world’s problems would be resolved: we would experience
					heaven on earth. We have done all the hard work so that any
					community can go on the journey into that liberating reality
					together.
				</h4>
				<p style="margin-bottom: 30px">
					<b>Price of Biblios Adventure &pound;100</b>
				</p>
				<div
					class="ex-xs ex-sm ex-md"
					data-role="padding"
					style="height: 30px"
				></div>
				<div>
					<div class="button small purchase-button">
						<span>Buy&nbsp;Biblios&nbsp;kit</span>
						<img src="{{ 'arrow-orange.svg' | asset_url }}" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="faq">
		<div class="grid text-block center">
			<h3>Frequently asked questions...</h3>
		</div>
		<div class="grid cards max-2">
			<div class="card elevated minify">
				<h5>
					Is Biblios suitable for families, children and youth groups?
				</h5>
				<p class="ellipsis">
					Yes – with the following caveat! All the games and
					activities are suitable for older children about 10 years
					old upwards. However, the short videos are designed for
					adults both in terms of style and content. If parents or
					youth pastors would like to go through Biblios together with
					13 year olds and younger, we suggest becoming familiar with
					the video clips and Bible readings for the session, and
					adapting them for the younger people involved. For example,
					this could involve the group watching a couple of minutes of
					the video clip to show the location; and reading one small
					section of the recommended Bible reading together. If this
					approach is a viable option for parents or youth pastors, we
					would not hesitate to recommend Biblios as fun, highly
					accessible way for younger people to absorb the whole Bible
					easily.
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
			<div class="card elevated minify">
				<h5>I have some new card games ideas...</h5>
				<p class="ellipsis">
					Yes please! We have designed the cards with Biblios
					participants thinking up new games in mind! Please let us
					know if your community comes up with new ways to use the
					cards to help learn the content. We would love to hear from
					you. We want the Biblios adventure to grow out of your
					inspired ideas!
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
			<div class="card elevated minify">
				<h5>Does Biblios contain time for discussion?</h5>
				<p class="ellipsis">
					Biblios is a fast-paced overview of the Bible course,
					covering the whole Bible in 12 sessions. There is no time
					assigned for discussion in the breakdown of the session
					timings in the handbook. Individual communities are free to
					discuss anything whenever they like, if they are happy to
					lengthen the time taken to complete the course!
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
			<div class="card elevated minify">
				<h5>How do I access the videos?</h5>
				<p class="ellipsis">
					When you buy the Biblios box you will be given a member’s
					login which means you can access any of the videos whenever
					you like.
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>

			<div class="card elevated minify">
				<h5>How prescriptive is Biblios?</h5>
				<p class="ellipsis">
					Biblios is as prescriptive as your group needs it to be! For
					those who have no prior knowledge of the Bible, and want to
					get their heads around it in 3 months – we have done all the
					work for you. You just have to work through the sessions as
					laid out in the handbook. For those who feel their group has
					slightly different needs (eg, more or less time, or more or
					less games playing, etc.), please feel completely free to
					use the resources in any way which works best for your
					community. The Biblios adventure is all about empowering
					each of us to be learners and contributors in our contexts!
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
			<div class="card elevated minify">
				<h5>How long does the Biblios box last?</h5>
				<p class="ellipsis">
					We have designed every piece of the Biblios box with
					longevity in mind. If the kit is handled well, we anticipate
					that it can be used for many years, before it would need to
					be replaced.
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
			<div class="card elevated minify">
				<h5>Can Biblios be used pastorally?</h5>
				<p class="ellipsis">
					Biblios is primarily designed for a community to go through
					the Bible together in 12 weeks. It is not a pastoral tool.
					However, the Bible addresses the human condition: as a
					result, deeply personal pastoral concerns may arise during
					the course. The community can decide before hand how they
					want to handle these: it may be that individuals have a
					mentor, spiritual director or counsellor outside the course,
					who they can process these concerns with.
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
			<div class="card elevated minify">
				<h5>
					Can I buy pieces of the kit separately, eg the packs of
					cards?
				</h5>
				<p class="ellipsis">
					At present we are selling Biblios as one integrated product,
					as every part of the kit connects in multiple ways with
					other parts of the kit! For this reason, we are currently
					not selling pieces of the kit individually.
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
			<div class="card elevated minify">
				<h5>I have lost or damaged a piece...</h5>
				<p class="ellipsis">
					Please get in touch if you have lost or damaged a card, or
					other piece of kit and we will replace it for you.
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
			<div class="card elevated minify">
				<h5>I have spotted an error with the material...</h5>
				<p class="ellipsis">
					This is really helpful. Thank you. Whilst we have tried to
					iron out as many mistakes as possible, we are a small
					start-up so we have decided to aim for excellence over
					perfection, and appreciate any feedback which will help
					improve Biblios. Please email us.
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
			<div class="card elevated minify">
				<h5>
					We have finished running our first course, and we want to
					run another one. Where do we go to get new copies of the
					one-off documents that we completed as part of the first
					course?
				</h5>
				<p class="ellipsis">
					The Covenant, 10 Commandments and Revelation letters
					documents are all available to print through the 'print out'
					link under the list of Sessions on the Members page.
				</p>
				<p data-toggle-ellipsis>
					&nbsp;&nbsp;<img src="{{ 'arrow-dark.svg' | asset_url }}" />
				</p>
			</div>
		</div>
	</section>
	<section class="small">
		<div class="grid text-block center" style="row-gap: 0px">
			<h5 style="margin-bottom: 5px">
				Still got questions? Get in touch
			</h5>

			<p>
				<a class="orange" href="mailto:alice@bibliosadventure.com"
					>alice@bibliosadventure.com</a
				>
			</p>
		</div>
	</section>
</div>

<!-- Just to get the URL -->
<img
	src="{{ 'sessions.json' | asset_url }}"
	style="display: none; position: absolute"
/>
